body {
    background-color: rgb(22, 44, 58);
}

h1 {
    color: rgb(217, 124, 80);
    font-size: 50px;
}

p, div, input {
    color: rgb(219, 169, 136);
}

main {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(217, 124, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh 20% 0 20%;
    padding: 0 0 40px 0;
}

input {
    border-width: 5px;
    border-color: rgb(217, 124, 80);
    border-radius: 1em;
    padding: 0.7em;
    margin: 1em;
}

input[type="button"] {
    border-width: 2px;
    border-style: dashed;
    border-radius: 0.3em;
    background: rgb(217, 124, 80);
}

.item {
    display: flex;
    font-size: 20px;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.outputs {
    display: flex;
}

.output-total {
    margin: 0 5vh 0 0;
}

.output-per-person {
    margin: 0 0 0 5vh;
}